a , a:hover
{
    text-decoration: none;
}
.mainScreen
{
    min-width: 100vw;
    min-height: calc(100vh - 4rem);
    margin-top: 4rem;
    background-image: url('./Assets/bg5.jpg');
    background-size: cover;
    background-position: center;
}
main
{
    margin-top: 4rem;
}
.background
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: darkcyan;
    min-height: calc(100vh - 4rem);
    /* margin-top: 4rem; */
}
.item:hover, .active_item {
    background-color: #5897fb;
    color: white;
    cursor: pointer;
}
.custom-shadow {
    box-shadow: 1px 0px 5px 2px black;
}
.allForms
{
    width: 90%;
    background-color: darkcyan;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    box-shadow: 1px 0px 5px 2px black;
}
.gold {
    color: gold;
}
.error-color {
    color: greenyellow;
}
.custom-form {
    width: 90%;
    background-color: darkcyan;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    box-shadow: 1px 0px 5px 2px black;
}
@media(min-width:769px)
{
    main { margin-left: 225px;}
}


